.header {
  width: 100%;
  height: 30px;
  background: #f2dad8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 20px;
  border: 1px solid #eed3d4;
  align-items: center;
}
.container-nav {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #d3e1fd;
  border: 1px solid ##d9e3f5;
  margin-bottom: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.carousel-control-prev {
  left: -40px;
}
.carousel-control-next {
  right: -40px;
}

.carousel-item {
  position: relative;
}

.movie-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b69c5a;
  text-align: center;
  z-index: 2;
}
.title-caursol {
  font-weight: bold;
}
.top-rating-caursol-inner {
  display: flex;
}
.top-rating-caursol-item {
  flex: 1 1 auto;
  width: "wrap-content";
  height: "wrap-content";
  margin: 0px 5px;
}
.top-rating-movie-item img {
  width: 350px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #141414;
  border-radius: 2%;
}
.movie-info-popup {
  width: 100%;
  padding: 10px;
  background: #141414;
  color: #4a4a4e;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  opacity: 0;
  border: 1px solid #141414;
  border-radius: 2%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.top-rating-movie-item:hover .movie-info-popup {
  opacity: 1;
  transform: translateY(0);
  transform: scale(1.1);
}
.top-rating-movie-item:hover img {
  transform: scale(1.1);
}
////
body.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}
body.dark-mode {
  background-color: #28242c;
  color: #f8f9fa;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(24px);
}
.header-dark-mode {
  background-color: #281010;
  color: #c7807e;
  border: 1px solid #c7807e;
}
.nav-dark-mode {
  background-color: #0a1531;
  color: #192f3e;
  border: 1px solid #0066cc;
}
.btn-search {
  background-color: transparent;
  color: #aec0d5;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #aec0d5;
  border-radius: 5%;
}
#search-text {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #aec0d5;
  border-radius: 5%;
}

.btn-search-dark {
  color: #0066cc;
  border: 1px solid #0066cc;
}

.search-text-dark {
  background: #23252c;
  placeholder: #4f5456;
}
.icon-dark-mode {
  color: white;
  background: white;
}
.footer {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  background: #f2dad8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  padding: 20px;
  border: 1px solid #eed3d4;
  align-items: center;
}
.footer-dark-mode {
  background-color: #281010;
  color: #c7807e;
  border: 1px solid #c7807e;
}
.revenueItemImg {
  witdh: 600px;
  height: 800px;
}
.item-search-container {
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.item-search-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-search-container img {
  width: 100%;
  height: auto;
}

.info-card {
  padding: 10px;
  text-align: center;
}

.info-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.info-card p {
  font-size: 14px;
  color: #888;
}
.basic-information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.basic-information {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.basic-information-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.basic-information-item h4 {
  font-weight: 600;
  color: #444;
  margin-right: 10px;
  text-transform: uppercase;
}

.basic-information-item p {
  margin: 0;
  flex: 1;
  font-style: italic;
  color: #555;
}

.revenueItemImg {
  width: 400px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-information-container img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-information-item p {
  color: #666;
  word-wrap: break-word;
}

.basic-information-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.checked {
  color: orange;
}
.container-body h3 {
  margin-top: 20px;
}
.review-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}
.review-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-bottom: 1px solid #333;
}
@media (max-width: 820px) {
  .basic-information-container {
    flex-direction: column;
    align-items: center;
  }

  .basic-information {
    max-width: 100%;
    margin-top: 20px;
  }

  .basic-information-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
  }

  .revenueItemImg {
    width: 300px;
    margin-bottom: 20px;
  }
}
